Without using any built-in date or time functions, write a function or method 
that accepts two mandatory arguments: the first argument is a 12-hour time 
string with the format "[H]H:MM {AM|PM}", and the second argument is a (signed) 
integer. The second argument is the number of minutes to add to the time of 
day represented by the first argument. The return value should be a string 
of the same format as the first argument. For example, AddMinutes("9:13 AM", 200) 
would return "12:33 PM". 
Include any test cases that you write.